.header {
  display: flex;
  top: 0;
  
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: var(--clr-background);
  transition: 0.3s;
}

.header__logo {
  font-family: "Nature Beauty";
  font-size: 1.6rem;
  color: var(--clr-foreground)
}