.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  padding: 15px 25px;
  background: rgba(0, 255, 33, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header__logo {
  font-family: "Nature Beauty";
  font-size: 1.6rem;
  color: black;
}